{% extends 'base.html.twig' %}
{% dump %}
{% block body %}
    {% for owner in ownerEntities %}
        <p>{{ owner.firstName }} {{ owner.lastName }}</p>
        <a href="{{ path('owner_item', {'id' : owner.id}) }}">Voir l'owner</a>
    {% endfor %}
{% endblock %}

