{% extends 'base.html.twig' %}
{% dump %}
{% block body %}
    <a href="{{ path('owner_list') }}">Retour à la liste</a>
    <p>{{ ownerEntity.firstName }} {{ ownerEntity.lastName }}</p>
    <p>Animaux :</p>
{% endblock %}

